@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

<div class="col-md-3">

    <div class="div-cart text-center">
        <a asp-action="Index" asp-controller="Home" asp-area="">
            <img src="~/img/Brand.png" class="img-fluid" style="height:64px;" />
        </a>
    </div>
    <form asp-area="admin" asp-controller="AdminProfile" asp-action="Logout"
          method="post" class="text-center mb-3">
        <div class="">
            <hr class="break" />
            <button type="submit" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                    <path d="M7.5 1v7h1V1h-1z" />
                    <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                </svg>
            </button>

            <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
                </svg>
            </a>

        </div>
    </form>



    <div class=" div-cart menu">

        <div class="div-cart-header">
            <h4>
                <a asp-controller="AdminProfile" asp-area="admin" asp-action="Index">داشبورد مدیریت</a>

            </h4>
        </div>
        <ul>

            <li class="main-li first-li">
                <a href="#">خرید انجام شده</a>
                <ul>
                    <li><a asp-controller="Order" asp-area="admin" asp-action="Index">سفارشات</a></li>
                </ul>
            </li>

            <li class="main-li first-li">
                <a href="#">محصولات</a>
                <ul>
                    <li><a asp-controller="Category" asp-area="admin" asp-action="Index">گروه بندی </a></li>
                    <li><a asp-controller="Product" asp-area="admin" asp-action="Index">محصولات</a></li>
                </ul>
            </li>


            <li class="main-li">
                <a href="#">کاربران</a>
                <ul>
                    <li><a asp-controller="Account" asp-area="admin" asp-action="Index">کاربران</a></li>
                    @*<li><a asp-controller="Account" asp-area="admin" asp-action="RoleIndex">نقش</a></li>*@
                </ul>
            </li>

            <li class="main-li">
                <a href="#">مقالات</a>
                <ul>
                    <li><a asp-controller="Article" asp-area="admin" asp-action="Index">مقالات</a></li>
                    <li><a asp-controller="Article" asp-area="admin" asp-action="Create">نوشتن مقاله</a></li>
                </ul>
            </li>

            <li class="main-li">
                <a href="#">نظرات</a>
                <ul>
                    <li><a asp-controller="Comment" asp-area="admin" asp-action="Index">نظرات جدید</a></li>
                    <li><a asp-controller="Comment" asp-area="admin" asp-action="GetAll">همه نظرات</a></li>
                </ul>
            </li>



        </ul>
    </div>

    @section script{

    }

</div>
