@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "تغییر رمز";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Ui.Areas.user.Models.ChangePasswordViewModel

<partial name="_userpanel" />

@if (@ViewBag.Result == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.FullName</strong> عزیز، رمز عبور شما با موفقیت بروزرسانی شد.
        <a asp-action="Index" asp-controller="UserPRofile" asp-area="user">بازگشت</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (ViewBag.Result == false)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@ViewBag.FullName</strong> عزیز، تغییر رمز عبور با خطا مواجه شد.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (ViewBag.error == true)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        در بروزرسانی رمز با خطا مواجه شدید.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="card bg-light mb-3">
    <div class="card-header">تغییر رمز</div>
    <div class="card-body">
        @*form for edit*@
        <div class="row">
            <div class="col-12">

                <form asp-action="ChangePassword" asp-area="user" asp-controller="UserProfile" method="post" enctype="multipart/form-data">
                    <div class="form-group col-12">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" required class="form-control" maxlength="24" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" required class="form-control" maxlength="24" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button class="btn btn-success btn-sm" type="submit">بروزرسانی رمز</button> |
                    <a asp-action="Index" asp-controller="UserProfile" asp-area="user">بازگشت</a>
                </form>

            </div>
        </div>
        <hr />
        <div class="card-footer">
            <p>
                حداقل 8 حرف لازم است.
            </p>
        </div>

    </div>
</div>
