
@{
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Entities.Category>
@*--------------menu---------------*@
@section menuSection{

    <div class="main-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <a asp-action="Index" asp-controller="Home" asp-area=""
                               style={color:#28a745 !important; font-weight: 900;}>صفحه اصلی</a>
                        </li>
                        @foreach (var item in Model)
                        {
                            <li>
                                <a asp-action="ShowCategories" asp-controller="Product" asp-area=""
                                   asp-route-id="@item.Id">@item.Id</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
}




@section footer{
    <partial name="_ContactUs" />
    <footer class="footer ">
        <div class="container">
            <!---------------------------------->
            &copy; 1401 - طراحی و پشتیبانی توسط پرشین مهر
        </div>
    </footer>
}

<div class="top2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login">
                    <a asp-action="Index" asp-controller="Home" class="mybtn"><i class="fas fa-home"></i>صفحه اصلی</a>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

<br />

<div class="flex-center position-ref full-height">
    <div class="code">
        404
    </div>

    <div class="message" style="padding: 10px;">
        صفحه مورد نظر یافت نشد!
    </div>
</div>